<nav>
  <div class="nav__item1">
    <div class="nav__item1-logo">
      <img src="https://cdn-icons-png.flaticon.com/512/1138/1138598.png" alt="logo-img">
    </div>
    Sneaker Store
  </div>
  <div class="search-container">
    <form action="">
      <input type="text" appNumberOnly name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <div class="nav__item3">
    <p><i class="fa fa-user"></i> Profile</p>
  </div>
</nav>
<app-products-cards></app-products-cards>